[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-axolotl-curve25519 = {git = "https://github.com/hannob/python-axolotl-curve25519.git", ref = "fix_type"}
tiny_keccak = "=0.2.1"
base58 = "~=2.1.1"
loguru = "~=0.7.2"
aiohttp = "~=3.9.5"

[dev-packages]
pylint = "~=2.12.2"
black = "~=22.3.0"
pytest = "~=6.2.5"
pre-commit = "~=2.16.0"
requests = "~=2.27.1"
pytest-asyncio = "~=0.17.2"
